.label{
    display: inline-block;
    background-color: #eb7eed;
    color: white;
    padding: 12px 12px;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    line-height: normal;
  
  }